<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pitch Trainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B62E0CDA1E6B5A6B005AA373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B62E0CF01E6B5A6B005AA373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B62E0CFB1E6B5A6C005AA373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
